@media only screen and (min-width: 320px) {
  .slider {
    width: 78vw;
    margin: 0 auto;
    padding-top: 63px;
  }
  .users {
    text-align: center;
    &-about {
     @include flex-column-center-wrap;
    }
    &__heading {
      color: #474747;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      margin-top: 20px;
    }

    &__nick {
      margin-bottom: 20px;
      color: $purple;
    }

    &-comment {
      width: 70vw;
    }
      &__text {
        width: 60vw;
        margin: 0 auto;
        font-family: $Lato;
        font-size: 17px;
        color: $darkText;
      }
      &__text--violet {
        color: $purple;
      }
      &__time-post {
        font-family: $Montserrat;
        color: $greyText;
        line-height: 32px;
      }
    }
  .social-links {
  @include flex-column-between;
    margin-bottom: 70px;
  }

  .social-button {
    font-family: $Montserrat;
    text-align: center;
  }
  .social-btn {
    text-decoration: none;
    width: 250px;
    height: 50px;
    border-radius:4px;
    font-size: 21px;
    display: block;
    color: $white;
    text-align: center;
    line-height: 50px;
    margin: 30px 0 18px 0;

    &--github {
      color: #000;
      background-color: #f3f3f3;
      position: relative;
      &:hover {
        background: #2b414d;
          color: $white;
      }
      &:before {
          font-family: $FontAwesomeBrands;
          content: '\f09b';
          position: absolute;
          left: 25px;
        }
    }

    &--twitter {
     @include btn-style(#26a6d1);
      &:before {
        content: '\f099';
      }
    }

    &--facebook {
      @include btn-style(#3b5998);
      &:before {
        content: '\f39e';
      }
    }
  }

  .social-item__followers {
    color: #848e97;
  }
}


@media only screen and (min-width: 401px) {
  .users-about-author {
   @include flex-wrap-evenly;
    margin: 0 0 40px 0;
  }
  .users-img {
    width: 85px;
    height: 85px;
    display: inline-block;
  }
  .users-about-content {
    text-align: left;
  }

  .social-links {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 481px) {
  .users-about-author {
    justify-content: center;
  }
  .users-img {
  margin-right: 20px;
  }
  .users-about-content {
    text-align: left;
  }
  .social-links {
    @include flex-wrap-evenly;
    flex-direction: row;
    margin-top: 54px;
  }
}
